# ignoruj wszystkie pliki .pdf
*.pdf
# ignoruj pliki .ods
*.ods
# ignoruj pliki .csv - narazie
#*.csv
# ignoruj pliki .py
*.py
#ignoruj pliki .txt
*.txt
# ignoruj pliki .log
*.log
# ignoruj pliki .css
*.css
# ignoruj pliki backup
*.backup

#ignoruj katalogi

archiwum/
DATA/
output/
python/
skład/
sql/
venv/
documentation/

