# ignoruj wszystkie pliki .pdf
*.pdf
# ignoruj pliki .ods
*.ods
# ignoruj pliki .csv - narazie
#*.csv
# ignoruj pliki .py
*.py
#ignoruj pliki .txt
*.txt
# ignoruj pliki .log
*.log

#ignoruj katalogi

airspaces/
archiwum/
dane_nav/
DATA/
documentation/
examples/
output/
python/
skład/
sources/
sql/
venv/

