# ignoruj wszystkie pliki .pdf
*.pdf
# ignoruj pliki .ods
*.ods
# ignoruj pliki .csv - narazie
#*.csv
#ignoruj katalogi
#mil/
#vfr/
#aip/

airspaces/
archiwum/
dane_nav/
examples/
output/
python/
sources/
sql/

