body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}

.split-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  box-sizing: border-box;
}


.avatar {
  width: 150px;           /* Szerokość obrazka */
  height: 150px;          /* Wysokość, najlepiej taka sama jak szerokość */
  object-fit: cover;      /* Obcina obrazek tak, by ładnie wypełniał ramkę */
  border-radius: 50%;     /* Kluczowa linia — tworzy koło z prostokąta */
  overflow: hidden;       /* Ukrywa wystające fragmenty */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* (opcjonalnie) cień dla stylu */
}

.left-map {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* cieniowanie */
  opacity: 0.9;
}

/*.left-panel {
  flex: 1;
  text-align: center;
  padding: 20px;
}*/
.left-panel {
  flex: 1;
  padding: 0;
  overflow: hidden;
}

.mapa-duza {
  width: 80%;
  height: 90%;
  /**object-fit: cover;*/
}


.profile-img {
  width: 80%;
  max-width: 300px;
  border-radius: 8px;
}

.short-description {
  margin-top: 10px;
  font-size: 1.1em;
  color: #444;
}

.separator {
  width: 2px;
  background-color: #ccc;
  margin: 0 20px;
}

.right-panel {
  flex: 1;
  padding: 20px;
}

